*~
*#
*.retry
*.pyc
*.iso

# ignore logs, debug and images
/ansible/scripts/ansible.log
/simple-cdd/scripts/*.txt
/simple-cdd/tmp/*
/virtualbox/debian/buster/.vagrant/*
/simple-cdd/images/*
/simple-cdd/scripts/.vscode/*
/simple-cdd/scripts/#gep.txt#
