*~
*#
*.retry
*.pyc
*.iso
*.log

/simple-cdd/scripts/*.txt
/simple-cdd/tmp/*
/virtualbox/debian/buster/.vagrant/*
/simple-cdd/images/*
/simple-cdd/scripts/.vscode/*
/simple-cdd/*.contents
/simple-cdd/*.sorted
/ansible/scripts/.#ansible.cfg
